@import '../../../app/resources/styles/fonts.scss';
@import '../../../app/resources/styles/colors.scss';
.partnershipSection {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2.375rem;
  .title {
    color: $mainFakeBlack;
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'liga' off;
    font-family: Larken;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4rem;
    letter-spacing: -0.0625rem;
  }
  .description,
  .note {
    color: $mainFakeBlack;
    text-align: center;
    font-family: $fontIbmPlex;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    max-width: 53.875rem;
  }
}
