.heroSection {
  background-color: white;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  .logoContainer {
    flex: 1;
  }
  .button {
    display: flex;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
background: var(--secondary-blue-interaction, #009EFE);
box-shadow: 0px 0.5rem 2rem 0px rgba(37, 79, 109, 0.24);
  }
  .textContainer {
    flex: 1;
  }
  .description {
  }

  &::after {
    content: '';
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #f5f5f5 69.79%
    );
    height: 7.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
