@import '../../../app/resources/styles/fonts.scss';
@import '../../../app/resources/styles/colors.scss';

.logoSection {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  > h5 {
    color: $secondaryGreyMiddleDark;
    text-align: center;
    font-family: $fontLato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

}

.logoItems {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}
.logoItem {
  width: 10rem;
}
