@import '../../../app/resources/styles/fonts.scss';
@import '../../../app/resources/styles/colors.scss';

.newsFeedSection {
  background: $newsFeedWhite;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h5 {
    color: $mainFakeBlack;
    text-align: center;
    font-family: $fontLato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  > h3 {
    color: $mainFakeBlack;
    text-align: center;
    font-kerning: none;
    font-feature-settings: 'liga' off;
    font-family: Larken;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: -0.03125rem;
  }
  .readAllNews {
    color: $mainFakeBlack;
    font-family: $fontLato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
  .newsFeedSectionRowContainer {
    overflow-x: scroll;
    width: 100%;
    margin: 4rem 1rem;
  }
  .newsFeedSectionRow {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: nowrap;
    padding-left: 8rem;
    width: fit-content;
  }
}

.newsFeedSectionItem {
  border-radius: 0.5rem;
  background: $mainWhite;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  width: 21rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  h4 {
    color: $mainBlue;
    font-family: $fontIbmPlex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
  }
  a {
    color: $mainFakeBlack;
    font-family: $fontIbmPlex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration-line: underline;
  }
}
