$mainFakeBlack: #2c2b2e;
$secondaryBlueInteraction: #009efe;
$mainBlue: #3d8cbc;
$secondaryGreyMiddleDark: #818487;
$fluoGreenForWhiteBg: #6ad300;
$mainWhite: #fff;
$mainDarkGrey: #2c2b2e;
$newsFeedWhite: #f4f6f8;